<!DOCTYPE html>
<html>
  <head>
    <title>Trelloh</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

<%# attaching images to window %>
    <script type="text/javascript">
      window.trelloh_logo_url = "<%= image_url('navbar/trelloh-logo.png') %>"
      window.trelloh_logo_main_url = "<%= image_url('navbar/main_nav_bar/trelloh-logo-main.png') %>"
      window.session_left = "<%= image_url('session_forms/left.png') %>"
      window.session_right = "<%= image_url('session_forms/right.png') %>"
      window.splash_gradient_background = "<%= image_url('splash/gradient.jpg') %>"
      window.splash_robo = "<%= image_url('splash/root-img.png') %>"
      window.angellist = "<%= image_url('navbar/main_nav_bar/personal_links/angellist.png') %>"
      window.github = "<%= image_url('navbar/main_nav_bar/personal_links/github.png') %>"
      window.source = "<%= image_url('navbar/main_nav_bar/personal_links/source.png') %>"
    </script>

<%# setting current user %>
    <% if current_user %>
      <script type="text/javascript">
        window.currentUser = <%= render(
        "api/users/user.json.jbuilder",
        user: current_user
        ).html_safe %>
      </script>
    <% end %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
